.about{
    padding: 20px;
}

.card{
    height: 100%;
    padding: 5px;
    border-color: aliceblue;
    background-color: #343a40;
}

.promotion{
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 1/30;
}

.carousel{
    height: 300px;
}